/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow-right {
  background-image: url(../images/spritesheet.png);
  background-position: -259px -110px;
  width: 9px;
  height: 15px;
}
.icon-basket {
  background-image: url(../images/spritesheet.png);
  background-position: -169px -110px;
  width: 38px;
  height: 30px;
}
.icon-check {
  background-image: url(../images/spritesheet.png);
  background-position: -209px -110px;
  width: 26px;
  height: 20px;
}
.icon-close {
  background-image: url(../images/spritesheet.png);
  background-position: -237px -110px;
  width: 20px;
  height: 20px;
}
.icon-snow {
  background-image: url(../images/spritesheet.png);
  background-position: -169px 0px;
  width: 110px;
  height: 108px;
}
.icon-sun {
  background-image: url(../images/spritesheet.png);
  background-position: 0px 0px;
  width: 167px;
  height: 148px;
}
