//  Цвет

$body-bg: #fff;
$text-color-main: #fff;

$tab-title-color: #002c4d;

$decoration-text-color: #008d9e;

// Цвет ссылки

$link-color: #fff;
$link-color--hover: #fff;

//  Типографика

$main-font: 'MyriadHebrew', Helvetica, Arial, sans-serif;
$title-font: 'SaltbushRough', Helvetica, Arial, sans-serif;
$menu-font: 'Heebo', sans-serif;

$font-size: 25px;
$font-weight: 400; // Regular
$line-height: 1;

// Ширина контейнера

/*$container-padding: 15px;
$container-width: 1170px + $container-padding * 2;*/

//  Адаптивность и соответствующие ширины контейнера

// $screen-xs: 0;
// $screen-sm: 480px;
// $screen-md: 768px;
// $screen-lg: 992px;
// $screen-xl: 1200px;
