//  Импорт файлов

@import 'variables';
@import 'functions';
@import 'mixins';
@import 'base';
@import 'typography';
@import 'sprite';

@import 'elements/form-elements';
@import 'elements/buttons';
@import 'elements/tabs';
@import 'elements/menu';
@import 'elements/filter';

@import 'block/header';
@import 'block/footer';
@import 'block/hero-section';
@import 'block/video';

@import 'pages/home';
@import 'pages/om-os';
@import 'pages/erhversaftale';
@import 'pages/prismatch';
@import 'pages/daekskfite';
@import 'pages/kontakt';
@import 'pages/daek';
