// Кнопки

.btn-wrp {
  text-align: center;

  &--indent-md{
    margin-top: 120px;
  }

  &--indent-sm{
    margin-top: 100px;
  }

  &--form{
    margin-top: 28px;
  }

  &--booing{
    margin-top: 50px;
  }
}

.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background: none;
  outline: 0 none;
  border: 0 none;
  border-radius: 0;
  padding: 26px 0;
  width: 320px;
  background-color: $brand-color;
  font-size: 24px;
  color: #fff;
  transition: 0.5s;

  &:hover {
    background-color: darken($brand-color, 5%);
  }

  > .icon-arrow-right {
    position: absolute;
    right: 27px;
    top: 50%;
    transform: translateY(-50%);
  }

  >.icon-basket{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  }

  &--bask{
    text-align:left;
    padding: 17px 0 17px 60px;
    width: 225px;
    font-size: 20px;
    font-family: $menu-font;
  }

  &--md{
    width: 220px;
    padding: 20px 0;
    text-align: center;

    .icon-arrow-right{
      right: 14px;
    }
  }

  &--form{
    font-family: $menu-font;
    font-weight: 700;

    .icon-arrow-right{
      right: 20px;
    }
  }

  &--sm{
    position: relative;
    width: 134px;
    padding: 18px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: $menu-font;

    .icon{
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:first-of-type{
      margin-right: 16px;
    }
  }

  &--pink{
    background-color: #b31655;

    &:hover{
      background-color: darken(#b31655,5%);
    }
  }

  &--heigth-sm{
    width: 274px;
    padding: 18px 0;
    font-family: $menu-font;
  }

  &--single{
    padding: 18px 0;
    text-align: center;
    width: 180px;
  }

  &__attach{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    font-family: $menu-font;
    padding: 13px 0;
    width: 212px;

    >.icon{
      right: 10px;
    }
  }

  &--lg{
    width: 350px;
    padding: 18px 0;
    font-size: 22px;
    letter-spacing: 0.56px;
    font-family: $menu-font;
    font-weight: 700;

    >.icon{
      right:10px;
    }
  }

  &--form-sm{
    width: 200px;
    font-weight: 700;
    padding: 18px 0;
  }

  &--indent{
    margin-right: 45px;
  }

  &--invite{
    width: 150px;
    padding: 17px 0;
    font-size: 22px;
    font-weight: 700;

    .icon{
      right: 10px;
    }
  }
}
