.main-nav{
  @include clearlist();

  &__item{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;

    >a{
      display: inline-block;
      font-family: $menu-font;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.45px;
      transition: 0.5s;

      &:hover{
        color: $decoration-text-color;
      }
    }
  }
}