.preview-section {
  padding-bottom: 80px;

  &--daek{
    padding-top: 75px;

    .title-wrp{
      position: relative;
      max-width: 1634px;
    }
  }
}

.gray-section {
  position: relative;
  padding-bottom: 110px;
  padding-top: 110px;
  background-color: $second-color;

  &:before{
    position: absolute;
    right: 0;
    top: -100px;
    content: '';
    display: block;
    width: 606px;
    height: 966px;
    background: url('../images/bg-marker.png') no-repeat;
  }

  &:after{
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 261px;
    height: 721px;
    background: url('../images/bg-marker-2.png') no-repeat 100%;
  }

  &--ceo{
    &:after{
      overflow: hidden;
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      display: block;
      width: 245px;
      height: 514px;
      background: url('../images/m-ns.png') no-repeat 100% 0;
    }
  }

  &--erhversaftale{
    overflow: hidden;
    padding-top: 129px;
    padding-bottom: 65px;
  }

  &--prismatch{
    padding-top: 129px;
    padding-bottom: 185px;
  }

  &--daekskfite{
    padding-top: 129px;
    padding-bottom: 100px;

    &:after{
      overflow: hidden;
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      display: block;
      width: 570px;
      height: 698px;
      background: url('../images/lg-ns.png') no-repeat 100% 0;
    }

    &:before{
      position: absolute;
      right: 0;
      top: -150px;
      content: '';
      display: block;
      width: 523px;
      height: 721px;
      background: url('../images/sm-ns.png') no-repeat right;
    }
  }

  &--daekside{

    .title{
      text-align: center;
      font-size: 46px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: $title-font;
      color: $decoration-text-color;
      margin-bottom: 60px;
    }

    &:before{
      display: none;
    }

  }
}

.service {
  max-width: 985px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  &__row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  &__item {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;

    .title-item {
      font-size: 48px;
      margin-bottom: 25px;
    }

    .description-item {
      font-size: 25px;
      line-height: 33.08px;
      max-width: 383px;
    }

    .blue-item,
    .pink-item {
      position: relative;
      padding-top: 30px;
      padding-left: 30px;
      padding-right: 30px;
      min-height: 578px;
    }

    .blue-item {
      background-color: $brand-color;
    }

    .pink-item {
      background-color: $second-brand-color;
    }

    .price-block {
      max-width: 412px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -100px;
      margin: auto;
    }

    .img-price-wrp {
      position: relative;
      .price-mark {
        position: absolute;
        width: 178px;
        height: 248px;
        padding-top: 53px;
        background: url("../images/mark.png") no-repeat center/cover;
        z-index: 20;
        top: -50px;
        right: 0;
        font-size: 37px;
        letter-spacing: -1.09px;
        text-align: center;
        > span {
          font-family: $title-font;
          text-transform: uppercase;
          font-size: 30px;
          font-weight: 700;
        }
      }
    }
  }
}

.car-section{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 80px;
  background: url('../images/bg-car.png') no-repeat center/cover;

  .title-section{
    font-size: 89px;
    color: $decoration-text-color;
    line-height: 78.52px;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 45px;
  }

  .description-section{
    text-transform: uppercase;
    color: $dark-color;
    font-size: 68px;
    font-family: $title-font;
    font-weight: 700;
    margin-bottom: 117px;
  }
}

.wrapper-car{
  max-width: 688px;
  margin: 0 auto 25px;

  img{
    width: 100%;
  }
}

.weather-icon {
  .icon {
    vertical-align: middle;
    margin-top: 35px;
  }
}

.title-wrp {
  max-width: 845px;
  margin: 0 auto;

  &--lg{
    max-width: 1220px;
    margin-top: 88px;
  }
}

.title-section {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #002d4e;
}
