//banner 1
.hero-banner{
  position: relative;
  min-height: 788px;
  background-color: #002d4e;
  padding-top: 313px;
  padding-bottom: 356px;
  padding-left: 239px;

  &:after{
    position: absolute;
    content: '';
    display: block;
    width: 297px;
    height: 205px;
    background: url('../images/pin.png') no-repeat left;
    bottom: 0;
    left: 0;
  }

  &:before{
    position: absolute;
    content: '';
    display: block;
    width: 1536px;
    height: 788px;
    background: url('../images/banner-man.png') no-repeat right;
    bottom: 0;
    right: 0;
  }

  &__title{
    position: relative;
    font-size: 64px;
    z-index: 10;
  }

  &--2{
    background: url('../images/bg-banner.png') no-repeat center/cover;
    .img-banner-wrp{
      position: absolute;
      max-width: 1920px;
      z-index: 3;
      right: 15%;
      left:auto;
      bottom: 0;
      img{
        width: 100%;
      }
    }

    &:after{
      width: 421px;
      height: 268px;
      background: url('../images/pin-2.png') no-repeat left;
    }

    &:before{
      width: 414px;
      height: 587px;
      background: url('../images/blue-2.png') no-repeat right;
      bottom: 0;
      right: 0;
    }
  }
}
