//banner 1
.hero-banner {
  position: relative;
  min-height: 788px;
  background-color: #002d4e;
  padding-top: 313px;
  padding-bottom: 356px;
  padding-left: 239px;

  .img-banner-wrp {
    position: absolute;
    img {
      width: 100%;
    }
  }

  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 297px;
    height: 205px;
    background: url('../images/pin.png') no-repeat left;
    bottom: 0;
    left: 0;
  }

  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 1536px;
    height: 788px;
    background: url('../images/banner-man.png') no-repeat right;
    bottom: 0;
    right: 0;
  }

  &__title {
    position: relative;
    font-size: 64px;
    z-index: 10;
  }

  &--2 {
    background: url('../images/bg-banner.png') no-repeat center/cover;
    .img-banner-wrp {
      max-width: 1920px;
      z-index: 3;
      right: 15%;
      left: auto;
      bottom: 0;
    }

    &:after {
      width: 421px;
      height: 268px;
      background: url('../images/pin-2.png') no-repeat left;
    }

    &:before {
      width: 414px;
      height: 587px;
      background: url('../images/blue-2.png') no-repeat right;
      bottom: 0;
      right: 0;
    }
  }

  &--3 {
    background: url('../images/bg-banner4.png') no-repeat center/cover;

    .img-banner-wrp {
      max-width: 602px;
      z-index: 3;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
    }

    &:after {
      width: 212px;
      height: 510px;
      background: url('../images/pin-3.png') no-repeat left;
    }

    &:before {
      width: 330px;
      height: 429px;
      background: url('../images/blue-3.png') no-repeat right;
    }
  }

  &--4 {
    background: url('../images/bg-banner-5.png') no-repeat center/cover;

    &:before {
      display: none;
    }

    &:after {
      width: 350px;
      height: 241px;
      background: url('../images/pin-4.png') no-repeat left;
    }
  }

  &--5 {
    background: url('../images/bg-banner-5-1.png') no-repeat center/cover;
    &:before {
      display: none;
    }

    &:after {
      width: 335px;
      height: 388px;
      background: url('../images/blue-5.png') no-repeat left;
    }
  }

  &--6{
    background: url('../images/bg-banner-6.png') no-repeat center/cover;
    &:before {
      display: none;
    }

    &:after {
      top: 50%;
      transform: translateY(-50%);
      width: 200px;
      height: 607px;
      background: url('../images/pin-6.png') no-repeat left;
    }
  }
}
