.video-wrp {
  position: relative;
  width: 50%;
  padding-top: 225px;
  padding-bottom: 165px;
  z-index: 2;
  background-color: rgba(0, 141, 158, 0.87);
}

.video-section {
  position: relative;
  background: url('../images/bg-video.png') no-repeat;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 45, 78, 0.77);
    z-index: 1;
  }

  &:after {
    content: '';
    display: block;
    background: url('../images/decor-1.png') no-repeat;
    width: 481px;
    height: 636px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
}

.video-info {
  max-width: 460px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .title-info {
    font-size: 60px;
    line-height: 71.55px;
    margin-bottom: 45px;
  }

  > div:first-of-type {
    margin-bottom: 140px;
  }
}

.play-title {
  font-family: $title-font;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
}